* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

body, p, h1, h2, h3, div, span {
  color: #333;
}

a:hover {
  text-decoration: none;
}

.container {
  padding: 15px;
  max-width: 100%;
}

section .container {
  max-width: 1080px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header styles */
header {
  background-color: #224b34;
  height: 78px;
  border-bottom: 5px solid #7f7f7f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.logo-img img {
  height: 45px;
}

.header-nav {
  position: relative;
  top: -5px;
}

a.header-nav-item {
  color: #fff;
  font-size: 12px;
  padding: 6px 12px;
  text-decoration: none;
  transition: .2s;
}
a.header-nav-item:hover {
  color: #cecece;
}
a.header-nav-item.accent {
  border: 2px solid #fff;
  border-radius: 10px;
}

.sub-logo {
  text-align: center;
  margin-top: 15px;
}

.sub-logo img {
  width: 170px;
}

h2 {
  margin: 10px 0 36px;
  text-align: center;
  /* font-variant: small-caps; */
  letter-spacing: -.5px;
}

section.content {
  padding-top: 78px;
}

/* Campaign card styles */ 
.campaign-item {
  display: block;
  position: relative;
  border: 1px solid rgba(53,53,53,.1);
  margin-bottom: 16px;
}

.campaign-item:hover {
  border: 1px solid transparent;
  animation: move-up 250ms ease forwards; 
  background-color: rgba(237, 237, 237, 0.1);
}

.campaign-item {
  animation: move-down 250ms ease forwards;
}

.campaign-label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  background-color: rgba(34, 75, 51, 0.75);
  padding: 2px 8px;
  border-radius: 2px;
  font-size: 12px;
  z-index: 10;
}

.campaign-label svg {
  position: relative;
  top: -1px;
  fill: #fff;
  margin-right: 4px;
}

.campaign-item-meta {
  position: absolute;
  bottom: 15px;
  left: calc(20% + 22px);
  font-size: 12px;
  color: #b7b7b7;
}

.campaign-school, .campaign-location {
  color: #777;
}

.campaign-location svg {
  margin-left: 15px;
  position: relative;
  top: -1px;
  fill: rgba(34, 75, 51, 0.75);
}

.campaign-header {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

.campaign-description {
  font-size: 14px;
  color: #333;
}

.campaign-item .campaign-item-inner {
  max-height: 180px;
  padding: 15px;
  align-items: flex-start;
}

.campaign-img {
    height: 150px;
    max-width: 20%;
    object-fit: cover;
    border-radius: 2px;
    margin-right: 15px;
    filter: contrast(90%);
}

.onload {
  display: none;
}

.progress-container {
  width: 200px;
  flex: 1 0 200px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

/* progress bar styles */
.progress {
  position: relative; 
  width: 35px;
  margin-left: 10px;
  height: 150px;
  opacity: 0.8; 
  filter: alpha(opacity=80);
  border: 1px solid rgba(53, 53, 53, 0.25);
}

.progress-bar {
  position: absolute; 
  bottom: 0;
  width: 100%;
  background-color: #3c763d;
}

.pb-70 {
  height: 70%;
}

.pb-31 {
  height: 31%;
}

.pb-28 {
  height: 28%;
}

.pb-100 {
  height: 100%;
}

.text {
  z-index: 3;
}

.progress-info {
  margin-left: 15px;
}

.progress-info-group {
  margin-bottom: 12px;
}

.progress-label {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: -4px;
}

.progress-amount {
  font-weight: bold;
  font-size: 20px;
}

.progress-amount small {
  font-weight: normal;
  font-size: 12px;
  color: #777;
}

/* footer */ 
p.disclaimer {
  margin: 11px 0;
  font-size: 14px;
}

/* animations */
@keyframes move-up {
  from {
    transform: translateY(0px);
    box-shadow: none;
  }
  to {
    transform: translateY(-4px);
    box-shadow: 0 6px 25px 0 rgba(3, 8, 33, .12);
  }
}

@keyframes move-down {
  from {
    transform: translateY(-4px);
    box-shadow: 0 6px 25px 0 rgba(3, 8, 33, .12);
  }
  to {
    transform: translateY(0px);
    box-shadow: none;
  }
}

/* spinner */ 
.spinner {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}

.spinner.show {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

/*******************\
    Loading Roller
\*******************/
@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.lds-roller {
  position: relative;
  display: inline-block;
  height: 64px;
  width: 64px;
}
.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}
.lds-roller div:after {
  position: absolute;
  display: block;
  background: #224b33;
  border-radius: 50%;
  content: " ";
  margin: -3px 0 0 -3px;
  height: 6px;
  width: 6px;
}
.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}


@media (max-width: 928px) {
  .hide-tablet {
    display: none !important;
  }
  .campaign-item {
    padding: 8px;
  }
  .campaign-item .campaign-item-inner {
    max-height: 130px;
    padding: 0;
  }
  .campaign-img {
    height: 120px;
  }
  .campaign-label {
    font-size: 10px;
    left: 8px;
    top: 8px;
  }
  .progress {
    height: 120px;
  }
  .progress-label {
    font-size: 10px;
  }
  .progress-amount {
    font-size: 17px;
  }
  .campaign-header {
    font-size: 16px;
  }
  .campaign-description {
    font-size: 12px;
  }
  .campaign-item-meta {
    bottom: 5px;
    font-size: 10px;
  }
}

@media (max-width: 750px) {
  h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .campaigns {
    display: flex;
    flex-wrap: wrap;
  }
  .campaign-item {
    flex: 1 0 0;
    margin: 8px;
  }
  .campaign-item .campaign-item-inner {
    flex-direction: column;
    max-height: 400px;
  }
  .campaign-img {
    height: 120px;
    max-width: 100%;
    margin: 0px auto 16px;
  }
  .progress-container {
    flex: 1 0 0;
  }
  .campign-item-meta {
    bottom: 8px;
    left: calc(16% + 22px);
  }
}

@media (max-width: 530px) {
  .hide-mobile {
    display: none !important;
  }
  header .container {
    position: relative;
    top: 5px;
  }
  .logo-img img {
    height: 35px;
  }
}

@media (min-width: 510px) and (max-width: 630px) {
  .campaign-item-meta {
    display: none;
  }
}

@media (max-width: 380px) {
  .campaign-item-meta {
    display: none;
  }
}
